html, body	
	height 100%
	margin 0
	padding 0
	overflow hidden
	background black
	color CCC
	font-family sans-serif	
	* 
		box-sizing border-box	
	
ul
	padding-left 10px
li
	list-style none
	
a
	color lightGreen
	text-decoration none
	&:hover
		text-decoration underline
