h1 #{page}
	//- pre $location.path() = {{$location.path()}}
	//- pre $route.current.templateUrl = {{$route.current.templateUrl}}
	//- pre $route.current.params = {{$route.current.params}}
	//- pre $route.current.scope.name = {{$route.current.scope.name}}
	//- pre $routeParams = {{$routeParams}}